.input-underlined {
    width: 300px;
    text-indent: 10px;
    border:0;
    border-bottom:solid 1px #000;
    outline:none;
}

.proposition {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.btn-submit {
    padding: 10px 30px;
    margin: 20px 0;
    font-size: 26px;
}

.shown {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.lookahead {
    position: absolute;
}

.lookahead-element {
      display: block;
}