@()

@main("Meet Up!") {
    <h3 class="text-center alert alert-success">Invite someone to meet up!</h3>

    <div class="proposition">
        <h1 class="text-center">Hello <input type="text" class="input-underlined" />!</h1>
        <h1 class="text-center">I would love to buy you a drink sometime at <input type="text" class="input-underlined" /></h1>
        <h1 class="text-center">and talk about <input type="text" class="input-underlined" />.</h1>

        <button type="button" class="btn btn-success btn-submit">Invite</button>
    </div>
}
