@(propForm: Form[_])

@main("Meet Up!") {
    @helper.form(action = routes.Application.handleForm()) {

    <div class="proposition" ng-controller="propositionCtrl">
        <div>
            <h1 class="text-center">
                Hello
                <div class="input-wrapper-medium">
                    @helper.input(propForm("name"),
                    '_showConstraints -> false,
                    '_label -> "") { (id, name, value, args) =>
                        <input name="@name" id="@id" class="hidden" ng-model="submittedName" autocomplete="off" @toHtmlArgs(args) />
                    }
                    @helper.input(propForm("email"),
                    '_showConstraints -> false,
                    '_label -> "") { (id, name, value, args) =>
                        <input name="@name" id="@id" class="hidden" ng-model="submittedEmail" autocomplete="off" @toHtmlArgs(args) />
                    }
                    <input ng-model="personInput" ng-blur="closePersonsResults()" ng-focus="openPersonsResults()" type="text" class="input-underlined-medium" autocomplete="off" />
                    <div class="personResults">
                        <ul class="lookahead" ng-class="{shown: personsOpen, hidden: !personsOpen}">
                            <li class="lookahead-element" ng-repeat="result in personSearchResults | limitTo:5" require focus ng-mousedown="selectPersonOption(result)">
                                <a class="lookahead-link" href="">{{result.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                !
                @if(propForm.hasGlobalErrors) {
                <span class="label label-danger error">@propForm.globalError.message</span>
                }
            </h1>
        </div>

        <div>
            <h1 class="text-center">
                I would love to buy you a drink sometime at
                <div class="input-wrapper">
                    @helper.input(propForm("location"),
                    '_showConstraints -> false,
                    '_label -> "") { (id, name, value, args) =>
                        <input name="@name" id="@id" ng-model="locationInput" ng-blur="closeLocationsResults()" ng-focus="openLocationsResults()" type="text" class="input-underlined" autocomplete="off" @toHtmlArgs(args) />
                    }
                    <div class="locationResults">
                        <ul class="lookahead" ng-class="{shown: locationsOpen, hidden: !locationsOpen}">
                            <li class="lookahead-element" ng-repeat="result in locationSearchResults | limitTo:4" require focus ng-mousedown="selectLocationOption(result)">
                                <a class="lookahead-link" href="">{{result.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                ,
            </h1>

        </div>

        <div>
            <h1 class="text-center">
                and talk about
                <div class="input-wrapper-long">
                    @helper.input(propForm("topic"),
                    '_showConstraints -> false,
                    '_label -> "") { (id, name, value, args) =>
                        <input name="@name" id="@id" ng-model="topicInput" ng-blur="closeTopicsResults()" ng-focus="openTopicsResults()" type="text" class="input-underlined-long" autocomplete="off" @toHtmlArgs(args) />
                    }
                    <div class="topicResults">
                        <ul class="lookahead" ng-class="{shown: topicsOpen, hidden: !topicsOpen}">
                            <li class="lookahead-element" ng-repeat="result in topicSearchResults | limitTo:5" require focus ng-mousedown="selectTopicOption(result)">
                                <a class="lookahead-link" href="">{{result.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                .
            </h1>
        </div>

        <input type="submit" class="btn btn-success btn-submit" value="Send Invite" ng-click="prepareSubmission()">

        <p>
            <a href="/logout"><button type="button" class="btn btn-danger btn-submit">Logout</button></a>
        </p>


    </div>
    }
}
