@(propForm: Form[_])

@main("Meet Up!") {
    @helper.form(action = routes.Application.handleForm()) {

    <div class="proposition" ng-controller="propositionCtrl">
        <div>
            <h1 class="text-center">Hello <input type="text" class="input-underlined" />!</h1>

        </div>

        <div>
            <h1 class="text-center">
                I would love to buy you a drink sometime at
                <div class="input-wrapper">
                    <input ng-model="locationInput" ng-blur="closeLocationsResults()" ng-focus="openLocationsResults()" type="text" class="input-underlined" />

                    <div class="locationResults">
                        <ul class="lookahead" ng-class="{shown: locationsOpen, hidden: !locationsOpen}">
                            <li class="lookahead-element" ng-repeat="result in locationSearchResults | limitTo:4" require focus ng-mousedown="selectLocationOption(result)">
                                <a class="lookahead-link" href="">{{result.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </h1>

        </div>

        <div>
            <h1 class="text-center">
                and talk about
                <div class="input-wrapper-long">
                    <input ng-model="topicInput" ng-blur="closeTopicsResults()" ng-focus="openTopicsResults()" type="text" class="input-underlined-long" />

                    <div class="topicResults">
                        <ul class="lookahead" ng-class="{shown: topicsOpen, hidden: !topicsOpen}">
                            <li class="lookahead-element" ng-repeat="result in topicSearchResults | limitTo:5" require focus ng-mousedown="selectTopicOption(result)">
                                <a class="lookahead-link" href="">{{result.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </h1>

        </div>

        <input type="submit" class="btn btn-success btn-submit" value="Send Invite">

        <p>
            <a href="logout"><button type="button" class="btn btn-danger btn-submit">Logout</button></a>
        </p>


    </div>
    }
}
